{% extends "@CPOAdmin/Admin/base.html.twig" %}

{% block page_content %}
    {{ include('@CPOAdmin/Admin/include/header.html.twig') }}
    {{ include('@CPOAdmin/Admin/include/sidebar.html.twig') }}
    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="clearfix js-item-menu">
                                    <div class="content">
                                        <h4>O BeeSmart-u</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container container-fluid">
                    <div class="row m-t-30 p-b-30">
                        <div class="col-md-12">
                            <div class="row text">
                                <p>BeeSmart tim čine dva člana, predstavnik Matija Hržić i Denis Martinić.<br>
                                    Tim je prijavljen na Elektroboj 2018 s projektom GSM pčelarske vage.<br><br>
                                    Denis Martinić je student na specijalističkom diplomskom studiju.
                                    <br>
                                    Uz to, proučava audio i energetsku elektroniku, a hobiji su mu biciklizam i društvene znanosti.<br><br>
                                    Matija Hržić je student druge godine na Tehničkom veleučilištu u Zagrebu, smjera Automatizacija i procesno računarstvo. <br>U slobodno vrijeme se bavi elektronikom i tu i tamo pokušava nešto isprogramirati kopiranjem kodova sa stackoverflowa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}