{% extends "@CPOAdmin/Admin/base.html.twig" %}

{% block page_content %}
    {{ include('@CPOAdmin/Admin/include/header.html.twig') }}
    {{ include('@CPOAdmin/Admin/include/sidebar.html.twig') }}
    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="clearfix js-item-menu">
                                    <div class="content">
                                        <h4>DASHBOARD</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container container-fluid">
                    <div class="row m-t-30 p-b-30">
                        <div class="col-md-12">
                            <div class="row">
                                {% for kosnica in kosnice %}
                                <div class="col-sm-4">
                                    <div class="well">
                                        <h3><a href="{{ path('admin_kosnica', {'kosnica': kosnica.id} ) }}">{{ kosnica.naslov }}</a></h3>
                                        <p>
                                            <b>Baterija:</b>  {{ kosnica.baterija }} %<br>
                                            <b>Vrijeme:</b> {{ kosnica.vrijeme }}<br>
                                            <b>Temperatura:</b> {{ kosnica.temperatura }}°C<br>
                                            <b>Vlaga:</b> {{ kosnica.vlaga }}kg/m3<br>
                                            <br>
                                            <b>Lokacija:</b> {{ kosnica.lokacija }}<br>
                                            <br>
                                            <small style="float: right"><b>Datum mjerenja:</b> {{ kosnica.datum|date("d.m.Y h:i:s") }}<br></small>
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height: 200px" class="copyright">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}