{% extends '@CPOAdmin/Admin/base.html.twig' %}

{% block page_content %}
    {{ include('@CPOAdmin/Admin/include/header.html.twig') }}
    {{ include('@CPOAdmin/Admin/include/sidebar.html.twig') }}
    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="clearfix js-item-menu">
                                    <div class="content">
                                        <h4>Košnice</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container container-fluid">
                    <div class="row m-t-30 p-b-30">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <table style="width:100%">
                                        <tr>
                                            <th>Naziv košnice</th>
                                            <th>Datum zadnje izmjene</th>
                                            <th>Identifikacijski broj</th>
                                            <th>Pregled</th>
                                        </tr>
                                        {% for item in kosnice %}
                                        <tr>
                                            <td>{{ item.naslov }}</td>
                                            <td>{{ item.datum|date("d.m.Y h:i:s") }}</td>
                                            <td>{{ item.identifikacijskiBroj }}</td>
                                            <td><a href="{{ path('admin_kosnica', {'kosnica': item.id}) }}">Otvori</a> </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height: 200px" class="copyright">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

