{% extends '@CPOAdmin/Admin/base.html.twig' %}

{% block page_content %}
    {{ include('@CPOAdmin/Admin/include/header.html.twig') }}
    {{ include('@CPOAdmin/Admin/include/sidebar.html.twig') }}
    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="clearfix js-item-menu">
                                    <div class="content">
                                        <h4>{{ kosnica.naslov }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container container-fluid">
                    <div class="row m-t-30 p-b-30">
                        <div class="col-md-12">
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="well">
                                            <div style="float: left" class="col-md-6 col-sm-6 col-xs-12">
                                                <b>Baterija:</b>  {{ kosnica.baterija }} %<br>
                                                <b>Vrijeme:</b> {{ kosnica.vrijeme }}<br>
                                                <b>Temperatura:</b> {{ kosnica.temperatura }}°C<br>
                                                <b>Vlaga:</b> {{ kosnica.vlaga }}kg/m3<br>
                                                <br>
                                                <b>Lokacija:</b> {{ kosnica.lokacija }}<br>
                                                <br>
                                                <b>Težina:</b>  {{ kosnica.tezina }} kg<br>
                                                <b>Promjena težine :</b> {{ kosnica.promjena }}<br>
                                                <b>Temperatura u košnici:</b> {{ kosnica.temperaturaUnutra }}°C<br>
                                                <b>Vlaga u košnici:</b> {{ kosnica.vlagaUnutra }}kg/m3<br>
                                                <b>Broj pčela u košnici:</b> {{ kosnica.brojPcela }}<br>
                                            </div>
                                            <div style="float: left" class="col-md-6 col-sm-6 col-xs-12">
                                                <a href="{{ path('admin_history', {'id': kosnica.id}) }}" class="btn btn-primary">Povijest mjerenja</a><br><br>
                                                <a href="#" class="btn btn-primary">Dohvati lokaciju</a><br><br>
                                                <a href="#" class="btn btn-primary">Dohvati podatke</a><br><br>
                                            </div>
                                            <div style="float: left" class="m-t-30 col-md-12 col-sm-6 col-xs-12">
                                                <label>Izdvoji na dashobard</label>
                                                    <input id="izdvoji" {% if izdvoji == 1 %}checked{% endif %} type="checkbox"><br>
                                                <label>Sleep mode</label>
                                                    <input id="sleep" {% if sleep_mode == 1 %}checked{% endif %} type="checkbox"><br>
                                                <label>Sustav zaštite od životinja</label>
                                                    <input id="animal" {% if animal_mode == 1 %}checked{% endif %} type="checkbox"><br>
                                                <input id="kosnicaId" hidden value="{{ kosnica.identifikacijskiBroj }}">
                                                <small style="float: right"><b>Datum zadnjeg mjerenja:</b> {{ kosnica.datum|date("d.m.Y h:i:s") }}<br></small>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height: 200px" class="copyright">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
