{% extends '@CPOAdmin/Admin/base.html.twig' %}

{% block page_content %}
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img width="100" src="{{ asset('assets/admin/images/bee22.jpg') }}" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form action="{{ path('admin_login') }}" method="post">

                            {% if errors %}
                                <div class="alert alert-danger" role="alert">
                                    <p>Kriva lozinka ili korisničko ime!</p>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label>Korisničko ime</label>
                                <input class="au-input au-input--full" id="username" value="{{ username }}" name="_username" placeholder="Korisničko ime">
                            </div>
                            <div class="form-group">
                                <label>Lozinka</label>
                                <input class="au-input au-input--full" id="password" type="password" name="_password" placeholder="Lozinka">
                            </div>
                            <input type="hidden" name="_target_path" value="{{ path('admin_dashboard') }}" />
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Prijava</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}