{% extends '@CPOAdmin/Admin/base.html.twig' %}

{% block page_content %}
    {{ include('@CPOAdmin/Admin/include/header.html.twig') }}
    {{ include('@CPOAdmin/Admin/include/sidebar.html.twig') }}
    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="clearfix js-item-menu">
                                    <div class="content">
                                        <h4>Povijest mjerenja: {{ kosnica.naslov }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a style="float: right;color: #ffffff" href="{{ path('admin_kosnica', {'kosnica': kosnica.id}) }}">Povratak na košnicu</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container container-fluid">
                    <div class="row m-t-30 p-b-30">
                        <div class="col-md-12">
                            <div class="row">
                                <div style="display: none" class="col-md-12">
                                    <div class="row text">
                                        <div class="au-card m-b-30">
                                            <div class="au-card-inner"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                <canvas id="team-chart" height="354" class="chartjs-render-monitor" style="width:100%;display: block; height: 177px; width: 355px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-30"></div>
                                </div>
                                <div class="col-md-12">
                                    <table style="width:100%">
                                        <tr>
                                            <th>Naziv košnice</th>
                                            <th>Datum ažuriranja košnice</th>
                                            <th>Identifikacijski broj</th>
                                            <th>Pregled</th>
                                        </tr>
                                        {% for item in kosnice %}
                                            <tr>
                                                <td>{{ item.naslov }}</td>
                                                <td>{{ item.datum|date("d.m.Y h:i:s") }}</td>
                                                <td>{{ item.identifikacijskiBroj }}</td>
                                                <td><a href="{{ path('admin_povijest_mjerenja', {'id': item.id, 'kosnica': kosnica.id}) }}">Pregledaj podatke</a> </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height: 200px" class="copyright">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

