<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="{{ path('admin_dashboard') }}">
                    <img style="height: 60px !important;" src="{{ asset('assets/admin/images/bee22.jpg') }}" alt="BeeSmart App" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="{{ path('admin_dashboard') }}">
                        <i class="fas fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_kosnice') }}">
                        <i class="fas fa-file-alt"></i>Košnice</a>
                </li>
                <li>
                    <a href="{{ path('admin_about') }}">
                        <i class="fas fa-table"></i>O BeeSmart-u</a>
                </li>
                <li>
                    <a href="{{ path('admin_logout') }}">
                        <i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->