<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="{{ path('admin_dashboard') }}">
                        <i class="fas fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_kosnice') }}">
                        <i class="fas fa-file-alt"></i>Košnice</a>
                </li>
                <li>
                    <a href="{{ path('admin_about') }}">
                        <i class="fas fa-table"></i>O BeeSmart-u</a>
                </li>
                <li>
                    <a href="{{ path('admin_logout') }}">
                        <i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->